
[submodule "jenkins"]
	path = jenkins
	url = git@github.com:cramerdev/chef-jenkins.git
[submodule "tor"]
	path = tor
	url = git@github.com:cramerdev/tor-cookbook.git
[submodule "annoyances"]
	path = annoyances
	url = git@github.com:cramerdev/annoyances-cookbook.git
[submodule "sys-utils"]
	path = sys-utils
	url = git@github.com:cramerdev/sys-utils-cookbook.git
