
[submodule "jenkins"]
	path = jenkins
	url = git@github.com:cramerdev/chef-jenkins.git
[submodule "tor"]
	path = tor
	url = git@github.com:cramerdev/tor-cookbook.git
[submodule "annoyances"]
	path = annoyances
	url = git@github.com:cramerdev/annoyances-cookbook.git
[submodule "sys-utils"]
	path = sys-utils
	url = git@github.com:cramerdev/sys-utils-cookbook.git
[submodule "graphite"]
	path = graphite
	url = git@github.com:cramerdev/graphite-cookbook.git
[submodule "firewall"]
	path = firewall
	url = git@github.com:cramerdev/firewall-cookbook.git
[submodule "logstash"]
	path = logstash
	url = git@github.com:cramerdev/logstash-cookbook.git
[submodule "gearman"]
	path = gearman
	url = git@github.com:cramerdev/gearman-cookbook.git
[submodule "redis"]
	path = redis
	url = git@github.com:cramerdev/redis-cookbook.git
[submodule "perl"]
	path = perl
	url = git://github.com/opscode-cookbooks/perl.git
